[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"

[packages]
Django = "*"
python-dotenv = "*"
psycopg2-binary = "*"
gunicorn = "*"
dj-static = "*"

[requires]
python_version = "3.9"
